// Internet Explorer
// Sets the default value for all Internet Explorer legacy support settings and is not used in the
// mixins.
$legacy-support-for-ie:				true !default;
$legacy-support-for-ie6:			$legacy-support-for-ie !default;
$legacy-support-for-ie7:			$legacy-support-for-ie !default;
$legacy-support-for-ie8:			$legacy-support-for-ie !default;

// Firefox
// Sets the default value for all Firefox legacy support settings and is not used in the mixins.
$legacy-support-for-ff:				true !default;
$legacy-support-for-ff3:			$legacy-support-for-ff !default;