// Configuration

// Internet Explorer
$include-ie-normalization:					true	!default;
$include-ie6-normalization:					true	!default;
$include-ie7-normalization:					true	!default;
$include-ie8-normalization:					true	!default;
$include-ie9-normalization:					true	!default;

// Firefox
$include-ff-normalization:					true	!default;

// Safari
$include-sa-normalization:					true	!default;

// iOS
$include-ios-normalization:					true	!default;

// Chrome
$include-chr-normalization:					true	!default;

// Opera
$include-op-normalization:					true	!default;