@import "normalize";

// Configuration
// Internet Explorer
$include-ie-normalization:					true;
$include-ie6-normalization:					true;
$include-ie7-normalization:					true;
$include-ie8-normalization:					true;
$include-ie9-normalization:					true;

// Firefox
$include-ff-normalization:					true;

// Safari
$include-sa-normalization:					true;

// iOS
$include-ios-normalization:					true;

// Chrome
$include-chr-normalization:					true;

// Opera
$include-op-normalization:					true;

@include normalize;

// It is also possible to use only parts of normalize.css
// 
// @import "normalize/html5";
// @include normalize-html5;
// 
// @import "normalize/base";
// @include normalize-base;
// 
// @import "normalize/links";
// @include normalize-links;
//
// @import "normalize/typography";
// @include normalize-typography;
// 
// @import "normalize/lists";
// @include normalize-lists;
// 
// @import "normalize/embedded";
// @include normalize-embedded;
// 
// @import "normalize/figures";
// @include normalize-figures;
// 
// @import "normalize/forms";
// @include normalize-forms;
// 
// @import "normalize/tables";
// @include normalize-tables;