@mixin normalize-lists {
  @if ($legacy-support-for-ie
   or  $legacy-support-for-ie6
   or  $legacy-support-for-ie7) {
    // Addresses margins set differently in IE6/7
    dl,
    menu,
    ol,
    ul {
      margin: 1em 0;
    }

    dd {
      margin: 0 0 0 40px;
    }

    // Addresses paddings set differently in IE6/7
    menu,
    ol,
    ul {
      padding: 0 0 0 40px;
    }
  }

  @if ($legacy-support-for-ie
   or  $legacy-support-for-ie7) {
    // Corrects list images handled incorrectly in IE7
    nav {
      ul,
      ol {
        list-style: none;
        list-style-image: none;
      }
    }
  }
}